body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="text"] {
    padding: 1vh;
    border: 0.1vh solid #333;
    border-radius: 1vh;
    background-color: #333;
    color: #ccc;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007bff;
}

#intro-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    object-fit: contain;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #050407;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    background-image: url('../images/valve.webp');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loading-progress {
    position: absolute;
    bottom: 20%;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
    text-align: center;
    font-size: 14px;
    line-height: 2px;
    text-shadow: 0 0 3px black;
    border-radius: 1px;
}

#loading-info {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    margin-top: 10px;
}

.main {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-image: url('../参考/参考3840x2160.jpg'); */
    /* background-image: url('../参考/屏幕截图(1).png'); */
    /* background-image: url('../参考/屏幕截图(4).png'); */
    background-image: url('../images/临时背景.png');
    /* background-position-y: -30px; */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 顶部导航栏 */
#top-nav {
    /* opacity: 0.5; */
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #333;
    /* 灰色背景 */
    color: white;
    position: relative;
}

.topography {
    opacity: 0.15;
    width: 100%;
    height: 6vh;
    display: flex;
    position: absolute;
    background-image: url("../images/topography.png");
    background-size: 26.8%;
    top: 0px;
    left: 0px;
}

.topography img {
    color: rgb(126, 169, 204);
}

.icon-buttons {
    display: flex;
    z-index: 5;
}

/* 左侧图标按钮 */
.icon-buttons button {
    display: flex;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 0.9vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 1vh;
    border-radius: 0.3vh;
    transition: background-color 0.1s ease;
}

.icon-buttons button:hover {
    background-color: #ffffff40;
}

.icon-buttons button svg {
    width: 2vh;
    height: 2vh;
}

/* 中间文字选项容器 */
.text-options-container {
    top: 22%;
    position: absolute;
    left: 49.9%;
    transform: translateX(-50%);
}

/* 中间文字选项 */
.text-options {
    display: flex;
    gap: 2.4vh;
}

.text-options .option {
    position: relative;
    bottom: -0.5vh;
    font-size: 2.2vh;
    cursor: pointer;
    font-weight: 400;
}

.text-options .option.highlight {
    /* “开始”选项字号更大 */
    font-size: 3vh;
    bottom: 0;
}

.text-options .divider {
    bottom: -0.18vw;
    color: #666;
    /* 竖线颜色 */
    position: relative;
}

.text-options .option:hover {
    opacity: 0.8;
}

/* 页面内容 */
#main-content {
    height: 100%;
}

.page {
    /* opacity: 0; */
    height: 100%;
    background-color: #444444d0;
    backdrop-filter: blur(10px);
}

/* 可移动窗口 */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

:root {
    --DraggabelWindowHeight: 70vh;
    --DraggabelWindowWidth: 100vh;
}

#draggable-window {
    flex-direction: column;
    display: none;
    position: fixed;
    top: calc(50% - calc(var(--DraggabelWindowHeight) / 2));
    left: calc(50% - calc(var(--DraggabelWindowWidth) / 2));
    width: 0;
    height: 0;
    background: white;
    border-radius: 0.5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow: hidden;
    transition: width 0.3s ease, height 0.3s ease;
    background-color: #3b3b3b;
}

#draggable-window.open {
    width: var(--DraggabelWindowWidth);
    height: var(--DraggabelWindowHeight);
}

#window-header {
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    background: #333;
    color: white;
    cursor: move;
    background-image: linear-gradient(60deg, #2b1561 0%, #3b3b3b 100%);
    align-items: center;
    border-radius: 0.5vh;
    flex-direction: row;
}

#window-title {
    font-size: 2vh;
}

#close-btn {
    cursor: pointer;
    font-size: 3vh;
}

#window-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

#navigation {
    background: #444;
    padding: 1vh;
    margin: 1vh;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    padding: 1vh;
    margin: 0.5vh 0;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: lighter;
    color: #ccc;
    font-size: 2vh;
}

#navigation li:hover {
    background-color: #485563;
    color: #fff;
}

#navigation li.active {
    color: white;
    background-image: linear-gradient(60deg, #262b31 0%, #2b2f33 100%);
}

/* 可移动窗口内容区域 */
#content-body {
    overflow-y: auto;
    flex: 1;
    padding: 1vh;
    margin: 1vh;
}

/* 设计窗口滚动条 */
#content-body::-webkit-scrollbar {
    width: 0.6vh;
    /* 滚动条宽度 */
}

#content-body::-webkit-scrollbar-track {
    background: #3b3b3b;
    /* 滚动条轨道颜色 */
    border-radius: 0.3vh;
}

#content-body::-webkit-scrollbar-thumb {
    background: #444;
    /* 滚动条滑块颜色 */
    border-radius: 0.3vh;
}

#content-body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* 滚动条滑块悬停颜色 */
}

#content-body:hover ::-webkit-scrollbar-thumb {
    display: block;
}

/* 导航栏聚焦 */
#canvasNav {
    position: absolute;
    top: 0.3vh;
    left: 50%;
    transform: translateX(-50%);
}