.filter-bar {
    display: flex;
    justify-content: center;
    padding: 0.7vh;
    height: 3vh;
    background-color: #44444470;
    /* opacity: 0; */
}

.filter-btn {
    font-size: 1.2vh;
    height: 2.7vh;
    background: none;
    border: none;
    color: white;
    margin: 0 0.6vh;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-btn.active {
    background-color: rgba(0, 191, 255, 0.2);
    color: lightblue;
}

.sort-options {
    height: 3vh;
    padding: 0.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sort-order-btn {
    display: flex;
    background: none;
    color: white;
    margin-right: 1vh;
    border: none;
    justify-content: center;
}

.sort-by {
    width: 15.8vh;
    height: 3.2vh;
    margin-right: 6.9vh;
    background-color: #00000000;
    color: #fff;
    border-radius: 0.5vh;
}

.sort-by option {
    background-color: #444;
}

.sort-by option:hover {
    background-color: #555;
}

.inventory-items-Container {
    overflow: scroll;
    height: 89.6vh;
    margin: 0 7vh 0 6vh;
}

.inventory-items-Container::-webkit-scrollbar {
    width: 0.9vh;
}

.inventory-items-Container::-webkit-scrollbar-track {
    background-color: #0000;
}

.inventory-items-Container::-webkit-scrollbar-thumb {
    background-color: #747576;
    border-radius: 0vh;
}

.inventory-items-Container::-webkit-scrollbar-thumb:hover {
    background-color: #A3A4A4;
}

.inventory-grid {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.inventory-item {
    color: white;
    width: 15.15vh;
    height: 16.5vh;
    margin: 1.3vh;
    margin-bottom: 0;
    overflow: hidden;
}

.item-background {
    height: 11vh;
    background: linear-gradient(to bottom, #555, #aaa);
    overflow: hidden;
}

.inventory-item img {
    padding: 0.5vh;
    width: 14vh;
    object-fit: cover;
    -webkit-user-drag: none;
}

.quality-bar {
    position: relative;
    height: 0.5vh;
    filter: blur(0.6px);
    background-color: #000;
}

.item-type {
    position: relative;
    padding: 0.4vh 0 0;
    font-size: 1.2vh;
    font-weight: bold;
}

.item-name {
    position: relative;
    font-size: 1vh;
}

.stickers {
    display: flex;
    position: relative;
    margin-bottom: -3vh;
    bottom: 3.5vh;
    height: 3vh;
    z-index: 10;
    flex-direction: row;
}

.sticker {
    width: 20%;
    background-size: cover;
    background-position: center center;
}